<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.quest %>
</p>

<p>
  <strong>Opta:</strong>
  <%= @question.opta %>
</p>

<p>
  <strong>Optb:</strong>
  <%= @question.optb %>
</p>

<p>
  <strong>Optc:</strong>
  <%= @question.optc %>
</p>

<p>
  <strong>Optd:</strong>
  <%= @question.optd %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @question.ans %>
</p>

<p>
  <strong>Sub genre:</strong>
  <%= @question.sub_genre.subgenrename %>
</p>
<%= link_to 'Edit', edit_question_path(@question) %>
&nbsp;| &nbsp;
<%= link_to 'Back', questions_path %>
